<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batches</title>
</head>

<body>
    <h1>batches</h1>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>batch</th>
                <th>course</th>
                <th>center</th>
                <th>year</th>
                <th>season</th>
                <th>duration</th>
            </tr>
        </thead>

        <tbody>
            {{#each batches as |b|}}
            <tr>
                <td>{{b.code}}</td>
                <td>{{b.courseId}}</td>
                <td>{{b.centerID}}</td>
                <td>{{b.year}}</td>
                <td>{{b.seasonId}}</td>
                <td>{{b.seasonId}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>


</body>

</html>